@model Tareita56.Models.Historico

@{
    ViewData["Title"] = "Details";
}
    <link href="~/materialize/css/tabla.css" rel="stylesheet" />
<h1>Detalles</h1>

<div id="detalles">
    <h4>Historico</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.H_Chasis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.H_Chasis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.H_Marca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.H_Marca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.H_Modelo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.H_Modelo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.H_Color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.H_Color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.H_Placa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.H_Placa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.H_Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.H_Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.H_FechaRetencion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.H_FechaRetencion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.H_FechaSalida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.H_FechaSalida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.H_Lugar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.H_Lugar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.H_Lat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.H_Lat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.H_Long)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.H_Long)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.H_NombreConductor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.H_NombreConductor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.H_Cedula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.H_Cedula)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.H_Comentarios)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.H_Comentarios)
        </dd>
    </dl>
</div>
<div>
    
    <a asp-action="Index">Back to List</a>
</div>
